* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: Inter;
}

/* light theme  style */
main {
  /* width: fit-content; */
  width: 85%;
  height: fit-content;
  max-width: 27.375rem;
  position: absolute;
  /* margin: auto; */
  margin: 1rem auto;
  inset: 0;
  border-radius: 40px;
  padding: 25px 20px 0px 20px;
  background-color: #fff;
  transition: all 0.3s ease-in;
}

hr {
  background: rgba(78, 77, 77, 0.34);
  margin: 0px 0px 15px;
}

.calc-btn {
  width: 2.6rem;
  height: 2.7rem;
  /* flex-shrink: 0; */
  border: none;
  margin: 10px;
  border-radius: 9px;
  background: #f0f0f0;
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.25);
  color: #4e4d4d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.last-row {
  margin-bottom: 5px;
}

button:hover {
  transform: scale(1.1);
}

.operators {
  color: #4542ef;
}

.equal-to {
  color: #f0f0f0;
  background: #7e7cf6;
}

.clear-all {
  color: #fff;
  background: #ff5959;
}

.footer {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.485px;
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
  padding: 5px 7px 7px 7px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(255, 89, 89, 0.6);
}

svg {
  pointer-events: none;
}
/* End Light Theme */

/* Display */
.display-box {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.evaluation,
.result {
  padding: 1rem;
  text-align: right;
  font-size: 1.5rem;
  border: none;
  align-self: flex-end;
  width: 100%;
  overflow-wrap: break-word;
}

.result {
  align-self: flex-end;
  color: #969696;
}

.btns-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* End Display */

/* Toggle Buttons */
#modeToggle {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 0 1.5em 0;
}

.toggle {
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.toggle-dark {
  background-color: rgba(243, 243, 243, 1);
  border: #f3f3f3;
  border-radius: 0 9px 9px 0;
}

.toggle-light {
  background-color: rgba(229, 229, 229, 1);
  border: #e5e5e5;
  border-radius: 9px 0 0 9px;
}

/* Dark Theme */
.dark .main {
  background-color: #01071d;
}

.dark .evaluation {
  color: #fff;
}

.dark .calc-btn {
  background: #343434;
  color: #fff;
  box-shadow: 0px 6px 7px 2px rgba(110, 107, 117, 0.55);
}

.dark #clear-all {
  background: #ff5959;
}

.dark #equal-to {
  background: #7e7cf6;
}

.dark .operators {
  color: #7e7cf6;
}

.dark .footer {
  background: rgba(255, 89, 89, 0.4);
}

.dark .toggle-light {
  background-color: #0e1327;
}

.dark .toggle-dark {
  background-color: #161e3c;
}

/* End Dark Theme */

.back-arrow {
  width: 25px;
}

@media screen and (min-width: 400px) {
  .calc-btn {
    width: 3.1625rem;
    height: 3.2875rem;
    font-size: 1.5rem;
  }

  .evaluation,
  .result {
    font-size: 2rem;
  }

  .back-arrow {
    width: 30px;
  }
}
@media screen and (min-width: 550px) {
  .calc-btn {
    width: 4.5625rem;
    height: 4.6875rem;
    font-size: 2rem;
  }
  .evaluation,
  .result {
    font-size: 3rem;
  }

  .back-arrow {
    width: 42px;
  }
}
