* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: Inter;
}

/* light theme  style */
main {
  width: fit-content;
  height: fit-content;
  max-width: 27.375rem;
  position: absolute;
  /* margin: auto; */
  margin: 1rem auto;
  inset: 0;
  border-radius: 40px;
  padding: 25px 20px 0px 20px;
  background-color: #fff;
}

hr {
  background: rgba(78, 77, 77, 0.34);
  margin: 0px 0px 15px;
}

.calc-btn {
  width: 4.5625rem;
  height: 4.6875rem;
  flex-shrink: 0;
  border: none;
  margin: 10px;
  border-radius: 9px;
  background: #f0f0f0;
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.25);
  color: #4e4d4d;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.last-row {
  margin-bottom: 5px;
}

button:hover {
  transform: scale(1.1);
}

.operators {
  color: #4542ef;
}

.equal-to {
  color: #f0f0f0;
  background: #7e7cf6;
}

.clear-all {
  color: #fff;
  background: #ff5959;
}

.footer {
  color: #FFF;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.485px;
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
  padding: 5px 7px 7px 7px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(255, 89, 89, 0.60);
}
/* End Light Theme */

/* Display */
.display-box {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.display-box input {
  padding: 1rem;
  text-align: right;
  font-size: 3rem;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.result {
  color: #969696;
}

.btns-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

input:disabled {
  background-color: inherit;
}
/* End Display */

/* Dark Theme */
.main-dark {
  background-color: #01071D;
}

.evaluation-dark {
  color: #fff;
}

.btn-dark {
  background: #343434;
  color: #fff;
  box-shadow: 0px 6px 7px 2px rgba(110, 107, 117, 0.55);
}

.clear-all .btn-dark {
  background: #FF5959;
}

.equal-to .btn-dark {
  background: #7E7CF6;
}

.operators .btn-dark {
  color: #7E7CF6;
}

.footer-dark {
  background: rgba(255, 89, 89, 0.40);
}
/* End Dark Theme */
